.headerContainer {
    .menuButton {
        color: var(--foreground);
        &:hover {
            color: var(--primary) !important;
            background: transparent !important;
        }
    }
    .headerTitle {
        &:hover {
            color: var(--primary) !important;
        }
    }
}
