.headerContainer {
    z-index: 20;
    .menuButton {
        &:hover {
            color: var(--primary) !important;
            background: transparent !important;
        }
    }
    .headerTitle {
        &:hover {
            color: var(--primary) !important;
        }
    }
}
