.headerMenuDrawer {
    a {
        color: var(--foreground);
        &:hover {
            color: var(--primary);
        }
    }
    .ant-drawer-header-title {
        justify-content: flex-end;
    }
}