@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #171717;
    --foreground: #ffffff;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color: var(--foreground);
    background: var(--background);
}
