@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #14202c;
    --foreground: #ffffff;
    --primary: #e62d51;
    --grey: #292d32;
    --blue: #007aff;
    --background-rgb: 20, 32, 44;
    --foreground-rgb: 255, 255, 255;
    --primary-rgb: 230, 45, 81;
    --grey-rgb: 41, 45, 50;
    --blue-rgb: 0, 122, 255;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
    margin-top: 75px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color: var(--foreground);
    background: var(--background);
}

a {
    color: var(--primary)
}
a:hover {
    color: var(--primary)
}

h1, h2 {
    font-family: "Roboto", sans-serif;
}

@import url("../styles/DrawerOverrides.scss");
